<!-- Starting painted on turtlebot-->
<launch>
  <include file="$(find turtlebot3_bringup)/launch/turtlebot3_robot.launch"/>
  <node name="control" pkg="painted" type="control.py" output="screen"/>
  <node name="master" pkg="painted" type="master.py" output="screen"/>
  <node name="pen" pkg="painted" type="pen.py" output="screen"/>
</launch>