<launch>
  <env name="ROS_MASTER_URI" value="http://localhost:11311" />
  <env name="ROS_HOTNAME" value="$HOSTNAME" />
  <env name="TURTLEBOT3_MODEL" value="BURGER" />
  <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_empty_world.launch"/>
  <node name="control" pkg="painted" type="control.py" output="screen"/>
</launch>